<h1>Application Id:<%= @application.id %> </h1>
<ul>
  <li>Applicant Name: <%= @application.name %></li>
  <li>Applicant Address: <%= @application.address %></li>
  <li>Applicant City: <%= @application.city %></li>
  <li>Applicant State: <%= @application.state %></li>
  <li>Applicant zip: <%= @application.zip %></li>
  <li>Applicant Reason: <%= @application.reason %></li>
  <li>Applicant Status: <%= @application.status %></li>
</ul>
<% @application.pets.each do |pet|%>
<%= link_to "#{pet.name}", "/pets/#{pet.id}"  %>
<% end %>

<% if @application.status == "In Progress" %>
<h3>Add a Pet to your application</h3>
<%= form_with url: "/applications/#{@application.id}", method: :get, local: true do |form|  %>
<%= form.label :search, 'Search for Pets'  %>
<%= form.text_field :search %>
<%= form.submit "Search" %>
<% end %>

<% @pets&.each do |pet| %>
  <h3>Pet Name <%= pet.name  %> </h3>
  <% end %>
<% end %>
